<div class="home__container">
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="DIGITAL"
    gameType="DISC | PS5"
    gamePrice="399,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVO"
    gameType="DIGITAL | PS4"
    gamePrice="399,99"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="BEST OF YEAR"
    gameType="DIGITAL | PS4"
    gamePrice="299,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS4"
    gamePrice="389,99"
  ></app-card>
</div>
